html, body{
  margin: 0;
  padding: 0;
}

.detailwrapper{
  width: 100%;
  height: 1000px;
  background-color: rgb(179, 102, 102);
  display: flex;
  .navDetail{
    width: 100%;
    height: 70px;
    // background-color: rgb(199, 132, 132);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 20px;
    .navArrow{
      width: 60px;
      height: 60px;
      background-color: #fff;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 5px;
      box-sizing: border-box;
      img{
        object-fit: cover;
        width: 45%;
        height: 45%;
      }
    }
    .editSection{
      // width: 200px;
      // background-color: rgb(108, 163, 142);
      padding: 0 10px;
      ul{
        display: flex;
        padding: 5px 5px;
        box-sizing: border-box;
        list-style-type: none;
        color: white;
        font-size: 18px;
        font-weight: bold;
        li{
          padding: 0 10px;
        }
      }
    }
  }
}