.navbarWrapper{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  box-sizing: border-box;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.377);
  position: fixed;
  .navMenu{
    width: 80px;
    height: 100%;
    // background-color: rgb(88, 182, 45);
    background-image: url('../assets/img/icons8-menu-24.png');
    background-size: 30px 30px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .options{
    // background-color: chartreuse;
    // width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    select{
      // margin: 5px 5px ;
      width: 120px;
      outline: none;
      border: none;
      background-color: #fff;
      font-weight: bold;
      margin: 0 5px;
    }
  }
  .navSearch{
    width: 400px;
    height: 100%;
    // background-color: rgb(88, 182, 45);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    input{
      width: 100%;
      height: 30px;
      border-radius: 4px;
      outline: none;
      border: 1px solid rgba(0, 0, 0, 0.377);
      padding-left: 50px;
    }
    .searchImage{
      position: absolute;
      left: 5px;
      width: 40px;
      height: 50%;
      background-image: url('../assets/img/search.png');
      background-position: center;
      background-size: 25px 25px;
      background-repeat: no-repeat;
      opacity: .7;
    }
  }
  .navButton{
    // width: 200px;
    height: 100%;
    // background-color: rgb(88, 182, 45);
    display: flex;
    justify-content: center;
    align-items: center;
    button{
      width: 100px;
      height: 40px;
      margin: 0 5px;
      font-weight: bold;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      border-radius: 5px;
    }
    .btnLogin{
      color: cadetblue;
      outline: none;
      border: 1px solid rgba(0, 0, 0, 0.377);
      background-color: #fff;
    }
    .btnRegister{
      color: #fff;
      background-color: cadetblue;
      outline: none;
      border: none;
    }
  }
}