html, body{
  margin: 0;
  padding: 0;
}

.loginWrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  .imageLogin{
    background-color: yellowgreen;
    width: 60%;
    height: 100%;
    background-image: url('../assets/img/background.jpeg');
    background-position: center;
    background-size: cover;  
  }
  .formLogin{
    background-color: rgb(255, 255, 255);
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .loginLogo{
      width: 100%;
      height: 15%;
      // background-color: rgb(143, 107, 107);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 20px;
      box-sizing: border-box;
    }
    .actionForm{
      // background-color: rgb(74, 155, 41);
      width: 100%;
      height: 75%;
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: left;
      box-sizing: border-box;
      h1{
        font-weight: bold;
        font-size: 40px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: 10px;
      }
      p{
        font-weight: bold;
      }
      input{
        width: 100%;
        height: 35px;
        border: none;
        outline: none;
      }
      .loginEmail{
        width: 350px;
        height: 70px;
        background-color: white;
        // margin-bottom: 1px;
        border: 1px solid #E0E0E0;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
        box-sizing: border-box;
        color: rgb(187, 183, 183);
        font-weight: 600;
      }
      .loginPassword{
        width: 350px;
        height: 70px;
        background-color: white;
        border: 1px solid #E0E0E0;
        border-radius: 5px;
        box-shadow: 0 15px 15px #E0E0E0;
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
        box-sizing: border-box;
        color: rgb(187, 183, 183);
        font-weight: 600;
      }
      .ceklist{
        // background-color: rgba(255, 0, 0, 0.596);
        display: flex;
        margin-top: 30px;
        flex-direction: column;
        width: 350px;
        // height: 70px;
        position: relative;
        input{
          width: 20px;
          height: 20px;
        }
        label{
          position: absolute;
          top: 5px;
          left: 30px;
          color: #D0CCCC;
          font-weight: 600;
        }
        p{
          position: absolute;
          top: -9px;
          right: 10px;
          font-weight: 600;
          color: #424242;
        }
      }
      .bntAction{
        width: 350px;
        height: 70px;
        margin-top: 40px;
        // background-color: rgb(115, 212, 102);
        button{
          width: 90px;
          height: 35px;
          border-radius: 5px;
          outline: none;
          border: none;
          box-sizing: border-box;
          font-size: 14px;
          font-weight: bold;
          cursor: pointer;
        }
        .btnLogin{
          background-color: rgb(0, 0, 0);
          color: white;
          margin-right: 10px;
        }
        .btnRegister{
          border: 1px solid darkgray;
          background-color: white;
        }
      }
    }
    .termLogin{
      // background-color: rgba(255, 0, 0, 0.596);
      width: 100%;
      height: 10%;
      line-height: 5px;
      display: flex;
      align-items: center;
      flex-direction: column;
      span{
        color: #D0CCCC;
        font-size: 17px;
        font-weight: bold;
      }
      p{
        font-weight: bold;
        font-size: 17px;
      }
    }
  }
}